.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
.project-container__image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9; /* You can adjust this ratio */
  overflow: hidden;
  border-radius: 8px; /* Optional: for rounded corners */
  margin-bottom: 1em; /* Space between image and text */
  border: 1px solid var(--clr-border); /* Adding a subtle border */
}

.project-container__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
  transition: transform 0.3s ease-in-out; /* Optional: for hover effects */
}

.project-container:hover .project-container__image {
  transform: scale(1.05); /* Optional: slight zoom on hover */
}